*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: rgba(67, 68, 85, 1);
  background-color: rgba(255, 255, 255, 1);
  width: 1440px;
  margin: 0;
}

.link-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  /* margin-top: 0; */
  margin-right: 76px;
}

.link-nav {
  color: rgba(46, 47, 66, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

.link-address {
  color: rgba(67, 68, 85, 1);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

.contacts {
  font-style: normal;
  display: flex;
}

ul,
a {
  list-style-type: none;
  text-decoration: none;
}

.link-nav:hover,
.link-nav:focus {
  color: #404bbf;
}

.link-address:hover,
.link-address:focus {
  color: #404bbf;
}

.button-service {
  font-family: "Roboto", sans-serif;
  background-color: rgba(77, 90, 229, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.button-service:hover,
.button-service:focus {
  background-color: #404bbf;
}

.first-section {
  background-color: rgba(46, 47, 66, 1);
  display: flex;
  flex-direction: column;
  width: 1440px;
  flex-shrink: 0;
  gap: 48px;
  padding-bottom: 188px;
}

.first-title {
  color: rgba(255, 255, 255, 1);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  width: 496px;
  margin-left: 472px;
  margin-top: 188px;
}

.third-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: rgba(67, 68, 85, 1);
}

.second-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.basement {
  background: rgba(46, 47, 66, 1);
  display: flex;
  flex-direction: column;
  width: 1440px;
  padding-bottom: 100px;
}

.link-studio-header {
  color: #2e2f42;
}

.link-studio-footer {
  color: #f4f4fd;
}

.text-footer {
  color: rgba(244, 244, 253, 1);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

.third-section {
  background-color: rgba(244, 244, 253, 1);
  padding-bottom: 120px;
}

h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}
.container {
  display: flex;
}
.section-four {
  width: 1128px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}
.second-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 120px;
}

#hid {
  display: none;
}
.second-section {
  width: 1440px;
  flex-shrink: 0;
}
.strategy {
  width: 1128px;
  gap: 24px;
  margin-left: 156px;
  margin-top: 120px;
}
.sec {
  width: 264px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.third {
  display: flex;
  flex-direction: column;
  width: 1440px;
  padding-top: 120px;
  gap: 72px;
}
.third-photo {
  gap: 24px;
  margin-left: 156px;
}
.photo-man {
  width: 264px;
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.text-our-team {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  max-width: 1128px;
}
.section-four {
  display: flex;
  flex-direction: column;
  margin: 120px 156px;
  margin-right: 156px;
  gap: 72px;
  margin-bottom: 120px;
  flex-shrink: 0;
}
.portfolio-img {
  display: flex;
  gap: 24px;
}
.portfolio-jpg {
  display: flex;
  gap: 24px;
}
.border {
  border: 1px solid #e7e9fc;
  max-width: 360px;
}
.item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 32px;
  padding-bottom: 32px;
  margin: 0 16px;
}
.our {
  margin-top: 0;
}
.end {
  display: flex;
  flex-direction: column;
  gap: 17.5px;
  padding-top: 101.5px;
  padding-left: 156px;
}
.end-footer {
  width: 264px;
}
.nav {
  display: flex;
  flex-direction: row;
  /* gap: 76px; */
  align-items: center;
}

.header {
  /* padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 156px; */
  /* gap: 332px; */
  border-bottom: 1px solid #e7e9fc;
  background-color: #fff;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
/* .navigation {
} */
.nav-ul {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}
.address {
  margin-left: 332px;
}
